body {
    background-color: rgb(29, 128, 204);
}

section {
    background-image: url(../images/manny.png);
    background-size: cover;
    padding: 10px;
    text-align: center;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1,
h2,
p {
    color: burlywood;
}